name: Build

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Build
        run: cargo build --release --verbose

      - name: Upload Linux Binaries
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: aslet-linux-${{ runner.arch }}.zip
          path: target/release/libaslet.so

      - name: Upload Windows Binaries
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: aslet-windows-${{ runner.arch }}.zip
          path: target/release/aslet.dll

      - name: Upload macOS Binaries
        if: matrix.os == 'macos-latest'
        uses: actions/upload-artifact@v4
        with:
          name: aslet-macos-${{ runner.arch }}.zip
          path: target/release/libaslet.dylib
