name: Build

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Rust
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rust-version: stable

      - name: Build
        run: cargo build --release --verbose
